doctype html
html
  head
    title Project Title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/styles/client.css")
  body
    #client
    script(src="/static/client.js")
