[Service]
ExecStart=/usr/bin/node index.js
WorkingDirectory=/home/deploy/celsius
Restart=always
StandardOutput=syslog
SyslogIdentifier=celsiusapp
User=deploy
Group=deploy

[Install]
WantedBy=multi-user.target
